* {
    margin: 0
}
body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #141414;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
.stats-block {
    color: white;
    font-family: Consolas;
    background: #222;
    display: flex;
    flex-direction: column;
    width: auto;
    transition: all ease-in-out 0.5s;
}
.disconnected {
    opacity: 0.2;
}
.pc-id {
    color: #AAA;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gpus {
    display: flex;
    flex-direction: column;
}
.gpu, .ram, .cpu {
    display: flex;
    flex-direction: row;
}
.ram-line-progress-bar, .swap-line-progress-bar, .vram-line-progress-bar, .gpuu-line-progress-bar, .cpu-line-progress-bar {
    background: #101010;
    width: 300px;
    height: 12px;
}
.ram-line-progress-bar-progress, .swap-line-progress-bar-progress, .vram-line-progress-bar-progress, .gpuu-line-progress-bar-progress, .cpu-line-progress-bar-progress {
    background: white;
    width: 0%;
    height: 12px;
}
.ram-line, .swap-line, .vram-line, .gpuu-line, .cpu-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ram-lines, .gpu-lines, .cpu-lines {
    display: flex;
    flex-direction: column;
}